<launch>
    <!-- Declare the arguments -->
    <arg name="pixhawk_address" default="/dev/Pixhawk"/>
    <arg name="ekf_origin_lat" default="0.0"/>
    <arg name="ekf_origin_lon" default="0.0"/>
    <arg name="ekf_origin_alt" default="0.0"/>
    
    <node name="guided_master" pkg="mira2_control_master" exec="guided_master" output="screen">
        <param name="pixhawk_address" value="$(var pixhawk_address)"/>
        <param name="ekf_origin_lat" value="$(var ekf_origin_lat)"/>
        <param name="ekf_origin_lon" value="$(var ekf_origin_lon)"/>
        <param name="ekf_origin_alt" value="$(var ekf_origin_alt)"/>
    </node>
</launch>